<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<button>post方式</button>
	<ul id="uls">
			
	</ul>
	<script type="text/javascript">
		var buts = document.getElementsByName('button')['0'];
		var uls = document.getElementById('uls');
		buts.onclick = function(){
			var x = new XMLHttpRequest();
			x.onreadystatechange = function(){
				if(x.readyState==4 && x.statue==200){
					eval('var arr ='+x.responseText);
					for(var i=0;i<arr.length;i++){
						var lis =document.createElement('li');
						var as = document.createElement('a');
						as.setAttribute('href','#');
						as.innerHTML = arr[i].name;
						lis.appendChild(as);
						uls.appendChild(lis);
					}
				}
			}
			x.open('POST','/admin/postajax',true);
			x.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			x.send();
		}
	</script>

</body>
</html>